{% extends 'base.html' %}

{% block title %}Sign Up - Library Management System{% endblock %}

{% block content %}
<main>
    <div>
        <h2>Create a New Account</h2>

        <form method="POST">
            {% csrf_token %}

            <div style="color: #94a3b8  !important;">
                {{ form.as_p }}
            </div>

            <button type="submit" class="auth-btn">Sign Up</button>
        </form>

        <p>
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</main>
{% endblock %}